@font-face {
    font-family: Barbie;
    src: url(Bartex.ttf);
}

body {
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 20;
    background-image: url('1.png');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title {
    flex: 1;
    color: #ffffff;
    text-align: center;
    margin-right: 180px;
    margin-top: -100px;
}

.title img {
    width: 500px;
    height: auto;
}

.title p {
    font-size: 17px;
}

.header {
    font-family: Barbie;
    flex: 1;
    font-size: 20px;
    color: #ff3d98;
}

.header h1 {
    text-align: center;
}

.form-container {
    flex: 1;
    padding: 20px;
    max-width: 80vh;
    width: 100%;
    margin-right: 20px;
}

.form-group {
    margin-bottom: 10px;
    font-size: 13px;
}

.half1 {
    width: 48%;
    display: inline-table;
    vertical-align: top;
}

.half2 {
    width: 48%;
    display: inline-table;
    vertical-align: top;
    margin-left: 18px;
}

.half3 {
    width: 35%;
    display: inline-table;
    vertical-align: top;
}

.half4 {
    width: 63%;
    display: inline-table;
    vertical-align: top;
    margin-left: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #878787;
}

.required {
    color: red;
    margin-left: 2px;
    font-size: 13px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"],
select
{
    width: 100%;
    padding: 10px;
    border: 1px solid #d9c6dd;
    border-radius: 5px;
    box-sizing: border-box;
    color: #5e5e5e;
}

.checkbox {
    font-size: 13px;
    color: #5e5e5e;
    margin-top: 20px;
    margin-bottom: 30px;
}

button {
    background-color: #ff3d98;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 15px;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #50a1fd;
}

a {
    text-decoration: none;
}

