body {
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 20;
    background-image: url('background.png');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.title {
    flex: 1;
    font-size: 15px;
    color: #ffffff;
}

.header {
    flex: 1;
    font-size: 13px;
    color: #657259;
}

.header h1 {
    text-align: center;
}

.form-container {
    flex: 1;
    padding: 20px;
    max-width: 80vh;
    width: 100%;
}

.form-group {
    margin-bottom: 10px;
    font-size: 13px;
    color: #435336;
}

.half1 {
    width: 48%;
    display: inline-table;
    vertical-align: top;
}

.half2 {
    width: 48%;
    display: inline-table;
    vertical-align: top;
    margin-left: 18px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="date"] 
{
    width: 100%;
    padding: 10px;
    border: 1px solid #d1ddc6;
    border-radius: 5px;
    box-sizing: border-box;
    color: #435336;
}

.checkbox {
    font-size: 13px;
    color: #435336;
    margin-top: 20px;
    margin-bottom: 30px;
}

button {
    background-color: #A4B792;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 15px;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #657259;
}

